

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  <%= title %>
</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    body{
        padding: 50px;
    }

    .navbar-nav-mr-auto{
      display: flex;
    }
    .nav-item{
      margin: 0 30px;
    }
</style>

