<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    
<header>
    <%- include('./partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is Main</h1>
        <p>
            Welcome to templating using EJS
        </p>
    </div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>