<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    
<header>
    <% include('../partials/header') %>
</header>


<form action="#">
    <label for="email">Email:</label>
    <input type="email" class="email" id="email" placeholder="Enter your email">
    <label for="password">Password:</label>
    <input type="password" class="password" id="password"placeholder="Enter your password">
</form>



</body>
</html>